{
    "branches": [
        "main",
        {
            "name": "dev",
            "prerelease": true
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "pnpm release:prepare"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "buildZip/*.zip"
                    }
                ],
                "successComment": false,
                "failComment": false
            }
        ],
        [
            "@saithodev/semantic-release-backmerge",
            {
                "backmergeBranches": [
                    {
                        "from": "main",
                        "to": "dev"
                    }
                ],
                "clearWorkspace": true
            }
        ]
    ]
}
